[Interface]
PrivateKey = ${private_key}
Address = ${ipv4_address},${ipv6_address}
DNS = ${dns}

[Peer]
PublicKey = ${peer_public_key}
AllowedIPs = 0.0.0.0/0,::0/0
Endpoint = ${peer_endpoint_ip}:51820
