[Interface]
PrivateKey = ${private_key}
Address = ${tunnel_address}
DNS = ${dns}
PostUp = iptables -t nat -A POSTROUTING -o wg+ -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o wg+ -j MASQUERADE

[Peer]
PublicKey = ${endpoint_public_key}
AllowedIPs = 0.0.0.0/0,::0/0
Endpoint = ${endpoint_address}:51820
